<div class="card card-body p-4 rounded-0 bg-dark text-white mb-4">
    <h3>Add A Task</h3>
    <form action="/tasks/add" method="POST">
        <div>
            <label for="title">Escribe un titulo: </label>
            <input
                type="text"
                name="title"
                placeholder="Title"
                id="title"
                class="form-control rounded-0 bg-dark text-white"
            />
        </div>
        <div>
            <label for="description">descripción: </label>
            <textarea
                name="description"
                placeholder="Escribe tu descripcion"
                id="description"
                class="form-control rounded-0 bg-dark text-white"
            ></textarea>
        </div>
        <button class="btn btn-primary btn-sm mt-2">Add</button>
    </form>
</div>